@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Times New Roman';
  src: url('/fonts/times.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-rms-black: #111111;
  --color-rms-cod-gray: #1a1a1a;
  --color-rms-dove-gray: #666666;
  --color-rms-mine-shaft: #3d3d3d;
  --color-rms-nobel: #b3b3b3;
  --color-rms-white: #ffffff;
  
  --font-roboto: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.markdown-content.override-headers h1,
.markdown-content.override-headers h2,
.markdown-content.override-headers h3,
.markdown-content.override-headers h4,
.markdown-content.override-headers h5,
.markdown-content.override-headers h6 {
  all: unset !important;
  font-family: "Times New Roman", Times, serif !important;
  display: block !important;
}