@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@theme {
  --color-rms-black: #111111;
  --color-rms-cod-gray: #1a1a1a;
  --color-rms-dove-gray: #666666;
  --color-rms-mine-shaft: #3d3d3d;
  --color-rms-nobel: #b3b3b3;
  --color-rms-white: #ffffff;
  
  --font-roboto: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}